[Desktop Entry]
Name=IFM
GenericName=File Manager
Comment=Lightweight terminal file manager
Exec=sh -c 'exec /usr/bin/ifm %U'
Icon=ifm
Terminal=true
Type=Application
Categories=System;FileManager;
MimeType=inode/directory;
